@charset "UTF-8";

*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

body{ 
background-color: rgba(243, 243, 243, 0.815); 
}

.nav-bar{
  display: flex;
}

.nav-bar img, a {
  width: 70px;
  margin-left: 260px;
  margin-top: 10px;

}

.nav-bar .zap{
  text-decoration: none;
  font-size: 25px;
  margin-top: 27px;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 248px;
  color: rgb(51, 65, 51);
  font-weight: bold;
}
.manutencao{
  display: flex;
}

.manutencao img{
  width: 270px;
  margin-top: 110px;
  margin-left: 300px;
}

.divv img{
height: 22px;

}

.yout{
  margin-left: -260px;
  margin-bottom: -5px;
}
.you{
  margin-left: -255px;
  margin-bottom: -5px;
}
.whatss{
  margin-left: -255px;
  margin-bottom: -3px;
}

#verificado{
  margin-left: 730px;
  height: 13px;

}

.divv, #verificado{
margin-top: -33px;
margin-right: 15px;
}

.manutencao h2{
  color: rgb(100, 100, 100);
  margin-top: 155px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.manutencao p{
  margin-top: 256px;
  margin-left: -342px;
  font-size: 20px;
  color: rgb(97, 92, 92);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.manutencao h4{
  margin-top: 256px;
  font-size: 20px;
  margin-left: 19px;
  
}

.final{
text-align: center;
margin-top: 130px;
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
}

.final p {
  margin-top: 7px;
}

h6{
  display: none;
}
















/* .perfil {
  border-radius:50px;
  max-height: 156px;
  border-width: 7px;
  border-style: solid;
  color: rgb(0, 0, 0);
}


.titulo > h1 {
  font-size: 20px;
  margin-top: 7px;
  color: rgb(0, 0, 0);

}
.titulo > h3 {
  font-size: 9px;
  min-width: 200;
}
a{
  text-decoration: none;
  color: black;
}


.canais{
border-radius: 20px;
font-size: 10px;
padding: 20px;
margin-top: 40px;
background-color: antiquewhite;
border-width: 4px;
border-style: solid;
box-shadow: 6px 6px 6px #0e1d2f;
}

.internet{
border-radius: 20px;
font-size: 10px;
padding: 20px;
margin-top: 40px;
background-color: antiquewhite;
border-width: 4px;
border-style: solid;
box-shadow: 6px 6px 6px #0e1d2f;
}

.maquina{
  border-radius: 20px;
  font-size: 10px;
  padding: 20px;
  margin-top: 40px;
  background-color: antiquewhite;
  border-width: 4px;
  border-style: solid;
  box-shadow: 6px 6px 6px #0e1d2f;
}

.outros{
  border-radius: 20px;
  font-size: 10px;
  padding: 20px;
  margin-top: 40px;
  background-color: antiquewhite;
  border-width: 4px;
  border-style: solid;
  box-shadow: 6px 6px 6px #0e1d2f;
}


div:hover.canais{
  background-color: #0421ffb2;
  transition-duration: 0.4s;  
}
div:hover.internet{
  background-color: #0421ffb2;
  transition-duration: 0.4s;  
}

div:hover.maquina{
  background-color: #0421ffb2;
  transition-duration: 0.4s;  
}
div:hover.outros{
  background-color: #0421ffb2;
  transition-duration: 0.4s;  
}
.vznplay{
font-size: 8px;
text-align: center;
margin: 57px;

} */