@media (min-width: 468px) and (max-width:1024px) {


.site-princ{
display: none;
}
.nav-bar a{
    font-size: 13px;
    margin-left: 66px;
}
.nav-bar img{
    width: 180px;
    margin-top: 130px;
}
#nav-anc{
    font-size: 16px;
    display: block;
    margin-top: 70px;
    margin-left: 34px;
    width: 100px;
    padding: 10px;
}
.nav-bar span{
    display: none;
}
.icones-princ{
margin-top: -268px;
}
.icones-princ img{
    margin-left: 30px;
    margin-top: -1px;
    width: 33px;

}
.meio-branco{
    margin-top: -350px;
    margin-left: 196px;
    width: 750px;
    height: 630px;
}
.separar{
    display: flex;
    flex-direction: column;
}
.sepa-div1 img{
    width: 500px;
    height: 460px;
    margin-top: 160px;
    margin-left: 5px;
}
.sepa-div2 h2{
margin-top: -640px;
font-size: 20px;
}
#botao{
    margin-left: 570px;
    margin-top: 200px;
}
.footer-fim{
    margin-left: 620px;
    padding-bottom: 5px;
}
.ultima-img{
    display: none;
}



















}